<div class="container mt-4">
  <h3 class="mb-3">{{title}}</h3>

  <input type="text" class="form-control mb-3" placeholder="Search by name or email" [(ngModel)]="searchText"
    (input)="filterUsers()" />

  <table class="table table-bordered table-hover">
    <thead class="table-light">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="drop($event)">
      <tr *ngFor="let user of filteredUsers" cdkDrag>
        <td class="draggable-cell" >{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
      </tr>
    </tbody>
  </table>
</div>